<!DOCTYPE html>
<html>
  <head>
    <title>VideoTube - Account Registration</title>
    <%- include('head'); %>
  </head>
  <body>
      <%- include('navbar', {user}); %>
      <div class="container pt-3">
        <div class="row">
          <div class="col">
            <h1>Account Registration</h1>
            <% if (message) { %>
              <div class="alert <%= message.className %>" role="alert">
                <%= message.message %>
              </div>
            <% } %>              

            <form action="/register" method="POST">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username"/>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password"/>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          </div>
        </div>
      </div>
  </body>
</html>